.homePage {
    padding: 2rem;
    height: 100vh;
    overflow: hidden;
}

.homePageDark {
    background: var(--Very-Dark-Blue-background);
}

.homePageLight {
    background: var(--Very-Light-Gray);
}